{% extends 'base.html' %}
{% block content %}
 <h1>RPG-DICE-ROLLER</h1>
 <section class="quantity">
    <h2> Dice Quantity</h2>
        <button type="button" class="btn btn-primary" id="one">1</button>
        <button type="button" class="btn btn-primary" id="two">2</button>
        <button type="button" class="btn btn-primary" id="three">3</button>
        <button type="button" class="btn btn-primary" id="four">4</button>
        <button type="button" class="btn btn-primary" id="five">5</button>
        <button type="button" class="btn btn-primary" id="six">6</button>
        <button type="button" class="btn btn-primary" id="seven">7</button>
        <button type="button" class="btn btn-primary" id="eight">8</button>
        <button type="button" class="btn btn-primary" id="nine">9</button>
        <button type="button" class="btn btn-primary" id="ten">10</button>    
 </section>
 <section class="dice">
    <h2>Die Type<h2>
        <button type="button" class="btn btn-success" id="d2">d2</button>
        <button type="button" class="btn btn-success" id="d4">d4</button>
        <button type="button" class="btn btn-success" id="d6">d6</button>
        <button type="button" class="btn btn-success" id="d8">d8</button>
        <button type="button" class="btn btn-success" id="d10">d10</button>
        <button type="button" class="btn btn-success" id="d12">d12</button>
        <button type="button" class="btn btn-success" id="d20">d20</button>
        <button type="button" class="btn btn-success" id="d100">d100</button>
    </section>
    <section class="roll-reset">
        <button type="button" class="btn btn-info" id="roll">Roll</button>
        <button type="button" class="btn btn-info" id="reset">Reset</button>
    </section>
    <main class="results">
        <section>
            <h2>Results:<h2>
            <h2 id="result">0<h2>
        </section>
        <section>
            <h2>Total<h2>
            <h2 id="total">0<h2>
        </section>
    </main>
{% endblock %}